* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

@font-face {
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    src: url("./assets/fonts/arial-regular.ttf") format("ttf");
}

@font-face {
    font-family: "Arial";
    font-style: italic;
    font-weight: 400;
    src: url("./assets/fonts/arial-italic.ttf") format("ttf");
  }


@font-face {
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    src: url("./assets/fonts/georgia-regular.ttf") format("ttf");
}

:root {
    --color-primary: #F1CDB3;
    --color-primary-light: #FDDCC4;
    --color-light-xl: #FFFFFF;
    --color-light-l: #F6F6F6;
    --color-light-s: #FAFAFA;
    --color-dark-s: #CDCDCD;
    --color-dark-m: #B2B2B2;
    --color-dark-l: #545454;
    --color-dark-xl: #4C4C4C;
    --color-dark-2xl: #444444;
    --color-dark-3xl: #292929;
}

.h2 {
    font-family: "Georgia", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
}

.h3 {
    font-family: "Georgia", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
}

.h4 {
    font-family: "Georgia", serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
}

.h5 {
    font-family: "Georgia", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
}

.paragraph-l {
    font-family: "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
}

.paragraph-s {
    font-family: "Arial", sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: var(--color-dark-m);
}

a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background-color: var(--color-light-xl);    
    height: 120px;
    position: sticky;
    top: 0;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

.logo-title a {
    font-family: "Georgia", serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
}

.logo-subtitle {
    display: block;
    color: var(--color-dark-3xl);
    font-family: "Arial", sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    padding-top: 10px;
    text-align: center;
}

.nav-list {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    list-style: none;
    column-gap: 35px;
}

.nav-link {
    color: var(--color-dark-l);
    transition: 0.3s;
}

.nav-link:hover {
    color: var(--color-dark-3xl);
}

.nav-link:active {
    position: relative;
}

.nav-link:active::after {
    content: "";
    position: absolute;
    background: var(--color-primary);
    width: 100%;
    height: 2px;
    left: 0;
    bottom: -4px;
}

.link-active {
    color: var(--color-dark-3xl);
    position: relative;
}

.link-active::after {    
    content: "";
    position: absolute;
    background: var(--color-primary);
    width: 100%;
    height: 2px;
    left: 0;
    bottom: -4px;
}

.section {
    padding: 80px 0 100px 0;
}

.section-friends {
    background-color: var(--color-light-l);
}

.friends-title {
    max-width: 400px;
    color: var(--color-dark-l);
    padding-bottom: 45px;
    margin: 0 auto;
    text-align: center;
}

.first-string {
    display: block;
}

.pets-items {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 45px auto;
    padding: 15px 0;
    row-gap: 30px;
}

.pets-item {
    width: 270px;
    height: 435px;
    background-color: var(--color-light-s);
    cursor: pointer;
    border-radius: 9px;
    transition: 0.4s;
}

.pets-item:hover {
    background-color: var(--color-light-xl);
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.pets-item .button-secondary {
    transition: 0.4s;
}

.pets-item:hover .button-secondary {
    background-color: var(--color-primary-light);
    border: 2px solid var(--color-primary-light);
}

.pet-photo {
    border-radius: 9px 9px 0 0;
    width: 270px;
    height: 270px;
}

.pet-name {
    padding: 27px 0;
    text-align: center;
    color: var(--color-dark-l);
}

.button-secondary {
    display: block;
    width: 187px;
    height: 52px;
    text-align: center;
    padding-top: 13px;
    border: 2px solid var(--color-primary);
    border-radius: 100px;
    margin: 0 auto;
    font-family: "Georgia", serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: var(--color-dark-3xl);
}

.friends-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}

.btn-round {
    width: 52px;
    height: 52px;
    border: 2px solid var(--color-primary);
    background-color: var(--color-light-l);
    border-radius: 100px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-active {
    width: 52px;
    height: 52px;
    background-color: var(--color-primary);
    border: 2px solid var(--color-primary);
    border-radius: 100px;
    cursor: default;
}

.btn-disabled {
    width: 52px;
    height: 52px;
    color: var(--color-dark-s);
    background-color: transparent;
    border: 2px solid var(--color-dark-s);
    cursor: default;
    border-radius: 100px;
}

.btn-round:hover {
    background-color: var(--color-primary-light);
    border: 2px solid var(--color-primary-light);
}

.footer {
    background: url("../../assets/img/noise-transparent.png"), 
                radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
    background-repeat: repeat, no-repeat;
}

.footer-container {
    display: flex;
    flex-direction: row;
    column-gap: 160px;
    color: var(--color-light-xl);
    padding-top: 40px;
}

.first-col {
    max-width: 280px;
    padding-top: 17px;
}

.second-col {
    max-width: 308px;
    padding-top: 17px;
}

.header-contacts {
    list-style: none;
}

.list-item-contact {
    padding: 45px 0 0 55px;
    position: relative;
}

.list-item-contact::before {
    position: absolute;
    content: "";
    width: 40px;
    height: 32px;
    background-size: contain;
    left: 0px;
    top: 40px;
}

.list-item-geo {
    padding: 34px 0 0 40px;
    position: relative;
}

.list-item-contact a,
.list-item-geo a {
    color: var(--color-primary);
}

.list-item-geo::before {
    position: absolute;
    content: "";
    width: 22px;
    height: 32px;
    background-size: contain;
    left: -2px;
    top: 36px;
}

.list-item-contact:nth-child(1)::before {
    background-image: url("../../assets/svg/icon-email.svg");
}

.list-item-contact:nth-child(2)::before {
    background-image: url("../../assets/svg/icon-phone.svg");
}

.list-item-geo:nth-child(n)::before {
    background-image: url("../../assets/svg/icon-marker.svg");
}

.header-dog {
    width: 300px;
    height: 310px;
}


@media (max-width: 800px) {
    
    .header {
        padding-top: 30px;
    }

    .container {
        padding: 0 30px;
    }

    .section {
        padding: 80px 0 76px 0;
    }

    .friends-title {
        padding-bottom: 30px;
    }
    
    .pets-items {
        padding: 0;
        justify-content: center;
        column-gap: 40px;
        margin: 0 auto 40px auto;
    }

    .pets-item:nth-child(n+7) {
        display: none;
    }

    .footer-container {
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 60px;
        row-gap: 65px;
        padding-top: 30px;
    }

    .first-col,
    .second-col {
        padding-top: 0;
    }
}
