* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

@font-face {
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    src: url("./assets/fonts/arial-regular.ttf") format("ttf");
}

@font-face {
    font-family: "Arial";
    font-style: italic;
    font-weight: 400;
    src: url("./assets/fonts/arial-italic.ttf") format("ttf");
  }


@font-face {
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    src: url("./assets/fonts/georgia-regular.ttf") format("ttf");
}

:root {
    --color-primary: #F1CDB3;
    --color-primary-light: #FDDCC4;
    --color-light-xl: #FFFFFF;
    --color-light-l: #F6F6F6;
    --color-light-s: #FAFAFA;
    --color-dark-s: #CDCDCD;
    --color-dark-m: #B2B2B2;
    --color-dark-l: #545454;
    --color-dark-xl: #4C4C4C;
    --color-dark-2xl: #444444;
    --color-dark-3xl: #292929;
}

.h2 {
    font-family: "Georgia", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
}

.h3 {
    font-family: "Georgia", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
}

.h4 {
    font-family: "Georgia", serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
}

.h5 {
    font-family: "Georgia", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
}

.paragraph-l {
    font-family: "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
}

.paragraph-s {
    font-family: "Arial", sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: var(--color-dark-m);
}

a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    padding-top: 60px;
    background: url("../../assets/img/noise-transparent.png"), 
                radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
    background-repeat: repeat, no-repeat;
    background-size: auto, auto 908px;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.logo-title {
    font-family: "Georgia", serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: var(--color-primary);
    padding-bottom: 10px;
}

.logo-subtitle {
    padding-top: 10px;
    color: var(--color-light-xl);
    font-family: "Arial", sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-align: center;
}

.hamburger {
    display: none;
}

.nav-list {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    list-style: none;
    column-gap: 35px;
}

.nav-link {
    color: var(--color-dark-s);
    transition: 0.3s;
}

.nav-link:hover {
    color: var(--color-light-s);
}

.nav-link:active {
    position: relative;
}

.nav-link:active::after {
    content: "";
    position: absolute;
    background: var(--color-primary);
    width: 100%;
    height: 2px;
    left: 0;
    bottom: -4px;
}

.link-active {
    color: var(--color-light-s);
    position: relative;
}

.link-active::after {    
    content: "";
    position: absolute;
    background: var(--color-primary);
    width: 100%;
    height: 2px;
    left: 0;
    bottom: -4px;
}

.section-hero {
    background: url("../../assets/img/noise-transparent.png") repeat, 
                radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%) no-repeat;
    background-size: auto;
}

.hero-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hero-info {
    padding-top: 223px;
    max-width: 460px;
    padding-bottom: 243px;
}

.hero-title {
    color: var(--color-light-xl);
    max-width: 310px;
    padding-bottom: 42px;
}

.hero-text {
    color: var(--color-dark-s);
    padding-bottom: 42px;
}

.button-primary {
    display: block;
    background-color: var(--color-primary);
    color: var(--color-dark-3xl);
    width: 207px;
    height: 52px;
    border-radius: 100px;
    cursor: pointer;
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    text-align: center;
    padding: 15px 0;
    transition: 0.3s;
}

.button-primary:hover {
    background-color: var(--color-primary-light);
}

.puppy {
    align-self: flex-end;
}

.section {
    padding: 80px 0 100px 0;
}

.section-about {
    color: var(--color-dark-xl);
}

.about-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 120px;
}

.about-text {
    max-width: 430px;
}

.about-title {
    max-width: 370px;
    padding-bottom: 25px;
    color: var(--color-dark-l);
}

.about-description {
    padding-bottom: 25px;
}

.section-friends {
    background-color: var(--color-light-l);
}

.friends-title {
    max-width: 400px;
    color: var(--color-dark-l);
    padding-bottom: 60px;
    margin: 0 auto;
    text-align: center;
}

.first-string {
    display: block;
}

.pets-slider {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-bottom: 60px;
}

.pets-items {
    display: flex;
    column-gap: 90px;
}

.btn-round {
    width: 52px;
    height: 52px;
    border: 2px solid var(--color-primary);
    background-color: var(--color-light-l);
    border-radius: 100px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-round:hover {
    background-color: var(--color-primary-light);
    border: 2px solid var(--color-primary-light);
}

.pets-item {
    width: 270px;
    height: 435px;
    background-color: var(--color-light-s);
    cursor: pointer;
    border-radius: 9px;
    transition: 0.4s;
}

.pets-item:hover {
    background-color: var(--color-light-xl);
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.pets-item .button-secondary {
    transition: 0.4s;
}

.pets-item:hover .button-secondary {
    background-color: var(--color-primary-light);
    border: 2px solid var(--color-primary-light);
}

.pet-photo {
    border-radius: 9px 9px 0 0;
    width: 270px;
    height: 270px;
}

.pet-name {
    padding: 27px 0;
    text-align: center;
    color: var(--color-dark-l);
}

.button-secondary {
    display: block;
    width: 187px;
    height: 52px;
    text-align: center;
    padding-top: 13px;
    border: 2px solid var(--color-primary);
    border-radius: 100px;
    margin: 0 auto;
    font-family: "Georgia", serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: var(--color-dark-3xl);
}

.btn-center {
    margin: 0 auto;
    width: 261px;
}

.help-title {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 58px;
}

.help-items {
    display: flex;
    flex-flow: row wrap;
    column-gap: 120px;
    row-gap: 55px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.help-item {
    background-size: 60px 60px;
    background-position: center top;
    background-repeat: no-repeat;
    padding-top: 90px;
    color: var(--color-dark-l);
}

.help-item:nth-child(1) {
    background-image: url("../../assets/svg/icon-pet-food.svg");
}

.help-item:nth-child(2) {
    background-image: url("../../assets/svg/icon-transportation.svg");
}

.help-item:nth-child(3) {
    background-image: url("../../assets/svg/icon-toys.svg");
    width: 60px;
}

.help-item:nth-child(4) {
    background-image: url("../../assets/svg/icon-bowls-and-cups.svg");
}

.help-item:nth-child(5) {
    background-image: url("../../assets/svg/icon-shampoos.svg");
}

.help-item:nth-child(6) {
    background-image: url("../../assets/svg/icon-vitamins.svg");
}

.help-item:nth-child(7) {
    background-image: url("../../assets/svg/icon-medicines.svg");
}

.help-item:nth-child(8) {
    background-image: url("../../assets/svg/icon-collars-leashes.svg");
}

.help-item:nth-child(9) {
    background-image: url("../../assets/svg/icon-sleeping-area.svg");
}

.section-addition {
    background-color: var(--color-light-l);
    color: var(--color-dark-l);
}

.addition-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
}

.addition-text {
    max-width: 380px;

}

.addition-title {
    padding-bottom: 20px;
}

.bank-info {
    padding-bottom: 18px;
}

.card {
    display: block;
    position: relative;
    background-color: var(--color-primary);
    border-radius: 9px;
    max-width: 350px;
    height: 43px;
    padding: 10px 15px 10px 60px;
    margin-bottom: 20px;
    color: var(--color-dark-l);
    transition: 0.3s;
}

.card:hover {
    background-color: var(--color-primary-light);
}

.card::before {
    content: "";
    position: absolute;
    background-image: url("../../assets/svg/credit-card.svg");
    width: 30px; 
    height: 23px;
    top: 10px;
    left: 15px;
}

.footer {
    background: url("../../assets/img/noise-transparent.png"), 
                radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
    background-repeat: repeat, no-repeat;
}

.footer-container {
    display: flex;
    flex-direction: row;
    column-gap: 160px;
    color: var(--color-light-xl);
    padding-top: 40px;
}

.first-col {
    max-width: 280px;
    padding-top: 17px;
}

.second-col {
    max-width: 308px;
    padding-top: 17px;
}

.footer-contacts {
    list-style: none;
}

.list-item-contact {
    padding: 45px 0 0 55px;
    position: relative;
}

.list-item-contact::before {
    position: absolute;
    content: "";
    width: 40px;
    height: 32px;
    background-size: contain;
    left: 0px;
    top: 40px;
}

.list-item-geo {
    padding: 34px 0 0 40px;
    position: relative;
}

.list-item-contact a,
.list-item-geo a {
    color: var(--color-primary);
}

.list-item-geo::before {
    position: absolute;
    content: "";
    width: 22px;
    height: 32px;
    background-size: contain;
    left: -2px;
    top: 36px;
}

.list-item-contact:nth-child(1)::before {
    background-image: url("../../assets/svg/icon-email.svg");
}

.list-item-contact:nth-child(2)::before {
    background-image: url("../../assets/svg/icon-phone.svg");
}

.list-item-geo:nth-child(n)::before {
    background-image: url("../../assets/svg/icon-marker.svg");
}

.footer-dog {
    width: 300px;
    height: 310px;
}


@media (max-width: 1279px){
    
    .header {
        padding-top: 30px;
    }

    .container {
        padding: 0 30px;
    }

    .hero-container {
        flex-direction: column;
        align-items: center;
    }

    .hero-info {
        padding-top: 60px;
        padding-bottom: 100px;
        display: flex;
        flex-direction: column;
    }

    .hero-info .button-primary {
        align-self: center;
    }

    .puppy {
        max-width: 569px;
        max-height: 593px;
    }

    .about-info {
        flex-direction: column;
        column-gap: 0;
        row-gap: 80px;
    }

    .flex-img {
        order: 1;
    }

    .pets-slider {
        justify-content: space-evenly;
    }
    
    .pets-items {
        column-gap: 40px;
        padding: 0 10px;
    }

    .pets-item:nth-child(3) {
        display: none;
    }

    .help-items {
        column-gap: 60px;
    }

    .help-item {
        width: 170px;
    }

    .help-item:nth-child(3) {
        width: 170px;
    }

    .addition-info {
        flex-direction: column;
        column-gap: 0;
        row-gap: 60px;
    }

    .footer-container {
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 60px;
        row-gap: 65px;
        padding-top: 30px;
    }

    .first-col,
    .second-col {
        padding-top: 0;
    }
}

@media (max-width: 767px) {

    .h2, 
    .h3 {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 130%;
        letter-spacing: 0.06em;
    }

    .container {
        padding: 0 10px;
    }

    .header-container {
        justify-content: space-between;
        column-gap: 42px;
        padding-right: 52px;
    }

    .nav {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .hamburger .line {
        width: 30px;
        height: 2px;
        background-color: var(--color-primary);
        display: block;
        margin: 8px 0;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
    
    .hamburger, .line:hover {
        cursor: pointer;
    }

    .hamburger:hover .line {
        background-color: var(--color-primary-light);
    }


    .hero-info {
        text-align: center;
        padding-bottom: 105px;
    }

    .hero-title {
        margin: 0 auto;
    }

    .puppy {
        width: 260px; 
        height: 270px;
    }

    .section {
        padding: 42px 0;
    }

    .about-info {
        row-gap: 42px;
        align-items: center;
    }

    .about-title {
        text-align: center;
        margin: 0 auto;
    }

    .about-text {
        text-align: justify;
        padding: 0 15px;
    }

    .about-description {
        padding-bottom: 22px;
    }

    .about-info .flex-img {
        width: 260px;
        height: 353px;
    }

    .friends-title {
        padding-bottom: 42px;
    }

    .pets-slider {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        column-gap: 80px;
        row-gap: 20px;
        padding-bottom: 42px;
    }

    .pets-items {
        order: 0;
        width: 100%;
        justify-content: center;
    }

    .pets-item:nth-child(n+2) {
        display: none;
    }

    .btn-round {
        order: 1;
    }

    .help-title {
        padding-bottom: 42px;
    }

    .help-items {
        max-width: 300px;
        margin: 0 auto;
        column-gap: 30px;
        row-gap: 30px;
        justify-content: flex-start;
        padding: 0px 5px;
    }

    .help-item {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 110%;
        background-size: 50px 50px;
        padding-top: 70px;
        width: 130px;
    }
    
    .help-item:nth-child(3) {
        width: 130px;
    }

    .addition-info {
        row-gap: 42px;
    }

    .addition-title {
        text-align: center;
        padding-bottom: 23px;
    }

    .addition-text {
        padding: 0 10px;
    }
    
    .bank-info {
        letter-spacing: 0;
        text-align: center;
        padding-bottom: 25px;
    }

    .card {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 110%;
        padding: 13px 10px 13px 60px;
    }

    .addition-text .paragraph-s {
        text-align: justify;
    }

    .addition-info .flex-img {
        width: 260px;
        height: 135px;
    }

    .footer {
        text-align: center;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
        row-gap: 45px;
    }

    .second-col .h3 {
        max-width: 294px;
    }

    .list-item-contact {
        padding: 45px 0 0 60px;
    }

    .list-item-contact:nth-child(n)::before {
        left: 14px;
        top: 39px;
    }

    .list-item-contact:nth-child(2)::before {
        left: 19px;
        top: 42px;
    }

    .list-item-geo {
        padding: 42px 0 0 22px;
    }

    .list-item-geo::before {
        left: 0px;
        top: 46px;
    }

    .list-item-geo:nth-child(2)::before {
        top: 39px;
    }

    .footer-dog {
        width: 260px;
        height: 269px;
    }
}